:root {
    --primary-font-family: Roboto, sans-serif;
    --secondary-font-family: Raleway, sans-serif;
    --primary-text-color: #757575;
    --title-text-color: #212121;
    --accent-color: #2196F3;
    --primary-bg-color: #ffffff;
    --light-theme-bg-color: #E5E5E5;
    --dark-theme-bg-color: #F5F4FA;
    --primary-button-text-color: #212121;
    --secondary-button-text-color: #ffffff;
    --primary-button-bg-color: #F5F4FA;
    --secondary-button-bg-color: #2196F3;
    --first-part-logo-collor: #2196F3;
    --second-part-logo-color: #212121;
    --hero-tittle-color: #ffffff;
    --hero-bg-color: #2F303A;
    --footer-bg-color: #2F303A;
    --footer-address-color: #ffffff;
}

body {
    background-color: var(--primary-bg-color);
    color: var(--primary-text-color);
    font-family: var(--primary-font-family);
    font-size: 14px;
    letter-spacing: 0.03em;
}

.list {
    list-style: none;
}
.link {
    text-decoration: none;
}

/* logo */
.web{
    color: var(--first-part-logo-collor);
}

.logo {
    color: var(--second-part-logo-color);
    font-family: var(--secondary-font-family);
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
}

/* site-nav */
.site-nav .link {
    color: var(--title-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}

.site-nav .link:hover, 
.site-nav .link:focus {
    color: var(--accent-color);
}

.site-nav .link.current {
    color: var(--accent-color)
}

/* connection */
.connection {
    color: var(--primary-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}

.connection:hover, .connection:focus {
    color: var(--accent-color) ;
}

/* hero */
.hero{
    background: var(--hero-bg-color);
    text-align: center;
}

.hero-title {
    color: var(--hero-tittle-color);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
}

.button {
    color: var(--secondary-button-text-color);
    background-color: var(--secondary-button-bg-color);
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.8;
    letter-spacing: 0.06em;
}

/* section */
.work {}

.team{
    background: var(--dark-theme-bg-color);
}

.section-title {
    color: var(--title-text-color);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
}

.feature-list .title{
    color: var(--title-text-color);
    font-weight: 700;
    line-height: 1.14;
    text-transform: uppercase;
}

.feature-list .text{
    line-height: 1.7;
}

.workers .workers-name{
    color: var(--title-text-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.2;
    text-align: center;
}

.workers .workers-position{
    font-size: 16px;
    line-height: 1.2;
    text-align: center;
}

/* portfolio */
.portfolio{
    background-color: var(--light-theme-bg-color);
}

.button-portfolio{
    color: var(--primary-button-text-color);
    background-color: var(--primary-button-bg-color);
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.03em;
}

.button-portfolio:hover, .button-portfolio:focus{
    color: var(--secondary-button-text-color);
    background-color: var(--secondary-button-bg-color);
}

.projects .projects-name{
    color: var(--title-text-color);
    font-weight: 700;
    font-size: 18px;
    line-height: 36px;
    letter-spacing: 0.06em;
}

.projects .projects-position{
    color: var(--primary-text-color);
    font-size: 16px;
    line-height: 30px;
}

/* footer */
.footer{
    background: var(--footer-bg-color);
}

.address {
    font-style: normal;
}

.footer .footer-address{
    color: var(--footer-address-color);
    line-height: 1.7;
}

.footer .footer-contacts{
    color: rgba(255, 255, 255, 0.6);
    line-height: 1.7;
}